.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-neutral-1);
}

.title {
    margin: 0;
    color: var(--color-neutral-4);
    font-weight: 600;
    font-family: var(--font-family-heading);
    font-size: var(--text-heading);
    line-height: var(--text-heading-height);
    letter-spacing: -2%;

    &.active {
        color: var(--color-black);
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.wide-control {
    grid-column: 1/-1;
}
