.element {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 220px;
    border-radius: 12px;
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-4);

    @media screen and (min-width: 640px) {
        padding: 24px;
        height: 240px;
    }
}

.content {
    overflow: hidden;
    position: relative;
    margin: 0;
    max-height: 140px;
    font-size: var(--text-lg);
    line-height: var(--text-lg-height);
    white-space: pre-line;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -8px;
        left: 0;
        height: 40px;
        background-image: linear-gradient(to bottom, transparent, var(--color-neutral-0));
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    color: var(--color-neutral-5);
    font-weight: 600;
    font-family: var(--font-family);
    font-size: var(--text);
    line-height: var(--text--height);
    cursor: pointer;
    box-shadow: 0 0 0 4px transparent;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
        background-color: var(--color-neutral-1);
        box-shadow: 0 0 0 4px var(--color-neutral-1);
    }
}