.container {
    margin-top: 48px;
    padding: 36px 24px;
    border-radius: 12px;
    background-color: var(--color-brand-secondary);

    @media screen and (min-width: 480px) {
        padding: 36px 48px;
    }

    @media screen and (min-width: 640px) {
        padding: 54px 64px;
    }
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    text-align: center;

    margin: 0 auto;
    max-width: 480px;
}

.title {
    margin: 0;
    font-weight: 600;
    font-family: var(--font-family-heading);
    font-size: var(--text-heading);
    line-height: var(--text-heading-height);
}

.lead {
    margin: 0;
    color: var(--color-neutral-4);

    font-size: var(--text-lg);
    line-height: var(--text-lg-height);
}

.indicator {
    margin-top: 16px;
}